name: ci-cd

on: [push, pull_request]

jobs:
  ci:
    # set up operating system
    runs-on: ubuntu-latest

    # define job steps
    steps: 
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Check-out repository
      uses: actions/checkout@v2

    - name: Install poetry
      uses: snok/install-poetry@v1

    - name: Install package
      run: poetry install

    - name: Test with pytest
      run: poetry run pytest tests/ --cov=pycount_caseexample --cov-report=xml

    - name: Use Codecov to track coverage
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.xml

    - name: Build documentation
      run: poetry run make html --directory docs/

  cd:
    permissions: #read-all | write-all
     id-token: write
     contents: write
    # only run this job when ci passes
    needs: ci

    # only run this job if new work is pushed to the main branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    # set up operating system
    runs-on: ubuntu-latest

    # define job steps
    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Check-out repositiory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      #- name: Use Python Semantic Release to prepare Release
      - name: Install poetry and python-semantic-release
        uses: snok/install-poetry@v1
        
      - name: Install semantic release 
        #id: release
        #uses: python-semantic-release/python-semantic-release@v8.3.0
        #with:
        #  github_token: ${{ secrets.GITHUB_TOKEN }}
        run: pip3 install python-semantic-release==9.9.0

      - name: Version bumping
        id: release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release version

      #- name: Build distribution package
      #  run: poetry build

      #- name: Release pub
      #  run: semantic-release publish

      #- name: Build distribution package
      #  run: poetry build

      - name: Publish to TestPYPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.release.outputs.released == 'true'
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}

      - name: Test install from TestPYPI
        run: |
          pip install --index-url https://test.pypi.org/simple/ \
          --extra-index-url https://pypi.org/simple pycount_caseexample

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.release.outputs.released == 'true'
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Publish package distribution to GitHub Releases
        uses: python-semantic-release/upload-to-gh-release@main
        if: steps.release.outputs.released == 'true'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}